.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Not-found {
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
}

.Not-found-button {
  display: block;
  border: none;
  border-radius: 5px;
  width: 20%;
  margin: auto;
  margin-bottom: 3em;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #333;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: 150ms ease-in;
}

.Not-found-button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
}

.Not-found img {
  display: block;
  margin: 0 auto;
}