.Character-list-item {
  margin: 10px 0;
  max-width: 300px;
  border-radius: 5px;
  overflow: hidden;
  background: #505050;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
}

.Character-list-item-header {
  width: 100%;
  position: relative;
}

.Character-list-item-stats {
  display: block;
  list-style-type: none;
  flex-grow: 1;
}

.Character-list-item-button {
  display: block;
  border: none;
  width: 100%;
  margin-top: 5px;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #333;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: 150ms ease-in;
}

.Character-list-item-button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
}

.Character-list-item-image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.Character-list-item-name {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 5px;
  background: rgba(0,0,0,.4);
  bottom: 0;
  z-index: 5;
  position: absolute;
  color: #f5f5f5;
  width: 100%;
}

.Character-list-item-stats li {
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  font-size: .8em;
  line-height: 2.0;
}

.Character-list-item-stats li:not(:last-of-type) {
  border-bottom: 1px solid #75aea6;
}

.Character-list-item-stats li b {
  color: #f5f5f5;
  text-align: left;
}

.Character-list-item-stats li span {
  color: #e4e4e4;
  text-align: right;
}