.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Character-profile {
  padding-bottom: 90px;
}

.Character-profile-button {
  display: block;
  border: none;
  border-radius: 5px;
  width: 10%;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 10px 0 10px 0;
  background: #333;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: 150ms ease-in;
}

.Character-profile-button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
}

i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: 150ms ease-in;
}

.Character-profile-button:hover i {
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.Profile-header {
  width: 100%;
  background: #505050;
  display: flex;
  color: #fff;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.Profile-header img {
  max-width: 170px;
  display: block;
}

.Profile-header-title {
  position: absolute;
  bottom: 10px;
  left: 180px;
}

.Profile-header-title h4 {
  font-size: 2em;
}

.Profile-header-title span {
  font-size: 1rem;
}

.Profile-info {
  background: #505050;
  padding: 25px;
  border-top: 1px solid #676767;
}

.Profile-info h4 {
  margin: 0 0 5px;
  font-size: 1.25em;
}

.Profile-info ul {
  list-style-type: none;
  margin-bottom: 25px;
}

.Profile-info ul li {
  border-bottom: 1px solid #676767;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}