.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Character-list-search {
  display: block;
}

.Character-list-search input[type=search] {
  display: block;
  width: 100%;
  background: #333;
  font-size: 1em;
  padding-left: 15px;
  line-height: 3;
  border-radius: 5px;
  color: #fff;
  padding-right: 15px;
  border: 1px solid transparent;
  outline: none;
}

.Character-list-search input[type=search]:focus {
  outline: none;
  box-shadow: 0 0 5px #FFFFFF90;
  border: 1px solid #7d7d7d;
}

.Character-list {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  padding-top: 0;
  padding-bottom: 45px;
}

.Character-list-button {
  display: block;
  border: none;
  border-radius: 5px;
  width: 20%;
  margin: auto;
  margin-bottom: 3em;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #333;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: 150ms ease-in;
}

.Character-list-button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
}