.App-header {
  width: 100%;
  min-height: 218px;
  background: black url('./Assets/banner.jpg') 0 0 no-repeat;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .App-header {
      background: black url("./Assets/banner.jpg") top center no-repeat;
  }
}
